<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4"
     xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">Activity Task Manager</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="mainNavbar" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tasks}">Tasks</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tasks/new}">Create Task</a>
                </li>
            </ul>
        </div>
    </div>
</nav>